@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.traffic-light {
  display: flex;
  justify-content: space-evenly;
}
.traffic-light > div h2 {
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
  color: #4f4f4f;
  margin: 1em 0;
}

#trafficLight, .traffic-light__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
  }
.road {
  display: flex;
  align-items: center;
  position: relative;
  background: #5c5c5c;
  margin: 3em 0 0 0;
  height: 300px;
}
.road ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.road ul li {
  width: 100px;
  height: 20px;
  background: #fff;
}
.road img:nth-child(2) {
  width: 550px;
  position: absolute;
  top: -20%;
  left: -550px;
}
.road img:last-child {
  width: 500px;
  position: absolute;
  top: 23%;
  left: -500px;
}
.drive2 {
  animation: speed 5s infinite ease-in;
}
.drive {
  animation: speed 1.5s infinite ease-in;
}
@keyframes speed {
  0% {
    position: absolute;
    left: -500px;
  }
  100% {
    position: absolute;
    left: 100%;
  }
}